/**
 * @name Amethyst
 * @author mackenzie#0173
 * @description A calm, deep purple theme for those seeking serenity.
 * @version 1.0.1
 * @source https://github.com/spinfish/amethyst
 */

@import url("https://spinfish.github.io/amethyst/support/amethyst.compiled.css");