@use "sass:meta";

// ------------------------------- WARNING ------------------------------- \\
// ------------- Proceed with caution, as eye bleach follows ------------- \\
// --------------- As so uttered by Him In ALl Seriousness --------------- \\
// ----------------------------------------------------------------------- \\

@mixin container($background: null, $gap: null, $radius: null, $margin: null) {
  @if $gap {
    gap: var(--amethyst-margin);
  }

  @if $radius {
    border-radius: var(--amethyst-radius);
  }

  @if $background {
    background-color: var(--background-#{$background});
  }

  @if $margin { // Oh boy lmao
    @if meta.type-of($margin) == string {
      margin-#{$margin}: var(--amethyst-margin);
    }

    @else if meta.type-of($margin) == list {
      margin: {
        @each $side in $margin {
          #{$side}: var(--amethyst-margin);
        }
      }
    }

    @else if meta.type-of($margin) == map {
      margin: {
        @each $side, $multiplier in $margin {
          #{$side}: calc(var(--amethyst-margin) * #{$multiplier});
        }
      }
    }

    @else {
      margin: var(--amethyst-margin);
    }
  }
}

// ---------------------------- "Body" container ---------------------------- \\
.container-2lgZY8 {
  @at-root {
    .platform-web & {
      @include container($margin: "top");
    }

    .platform-win & {
      @include container($margin: ("top": 0.5)); // Account for titlebar
    }
  }
}

// ---------------------------- Scrollers ---------------------------- \\
.thin-1ybCId {
  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      background-color: var(--background-modifier-hover);
    }
  }
}

.auto-Ge5KZx {
  &::-webkit-scrollbar {
    width: 14px;

    &-track {
      background-color: transparent;
    }

    &-thumb {
      min-height: 47.5px;
      background-color: var(--background-modifier-active);
    }
  }
}

// ---------------------------- Notices ---------------------------- \\
.notice-3bPHh- {
  @include container($radius: true, $margin: ("right", "left"));

  &:is(.colorInfo-2URYW5, .notice-3uyY6c) {
    background-color: var(--amethyst-brand);
  }

  &.colorSuccess-1hnbW2 {
    background-color: var(--amethyst-green);
  }

  &.noticeWrapper-8z511t { // BD
    border-radius: var(--amethyst-radius) !important; // Plugin moment
    margin-bottom: calc(var(--amethyst-margin) + 1px);
  }

      // &.colorBrand-2zeG8h {}

      // &.colorDanger-4gmAY0 {
      //   background-color: var(--amethyst-red);  
      // }

      // &.colorDefault-22HBa0 {
      //   background-color: var(--amethyst-orange);
      // }
}

// ---------------------------- Main ---------------------------- \\
.container-2lgZY8 { // Server sidebar + channels/chat (friends page) container
  gap: var(--amethyst-margin);
  background-color: var(--background-tertiary);
}

// ---------------------------- Channels/chat container ---------------------------- \\
.content-98HsJk {
  @include container($gap: true, $margin: "right");

  > .chat-3bRxxu { // Title bar/member sidebar/chat container
    @include container($gap: true, $background: "tertiary", $margin: "bottom");

    > .wrapper-2qzCYF { // Call container background
      @include container($background: "tertiary");
    }

    .callContainer-36WRfH {
      @include container($radius: true);
    }
  }

  .content-yTz4x3 { // Member sidebar/chat container
    @include container($gap: true);

    > .scrollerBase-289Jih { // NSFW or "You're not old enough..."
      @include container($radius: true, $background: "accent");
    }
  }

  > .noChannel-3LgMRp { // "You find yourself in a strange place..."
    @include container($background: "accent", $radius: true, $margin: "bottom");
  }
}

.chatContent-a9vAAp { // Chat background
  @include container($background: "primary", $radius: true);
}

// ---------------------------- Channels sidebar ---------------------------- \\
.sidebar-2K8pFh {
  @include container($gap: true, $background: "tertiary");

  > :is(.container-3w7J-x, .privateChannels-1nO12o, .scrollerBase-289Jih) { // 1, 2: Channel list, 3: Server Discovery
    @include container($radius: true);
  }

  > .scrollerBase-289Jih { // Server Discovery
    @include container($background: "secondary");
  }

  .animatedContainer-1NSq4T { // Server banner
    border-top-right-radius: var(--amethyst-radius);
  }
}

// ---------------------------- Boost progress bar ---------------------------- \\
.container-3qpZp9 {
  @include container(
    $background: "secondary-alt",
    $margin: (
      "top": -0.5,
      "right": 0.35
    ),
    $radius: true
  );

  margin-bottom: var(--amethyst-margin); // TODO: design stupid mixin better
  padding: calc(var(--amethyst-padding) * 2.5);
  
  > .progressBarContainer-cCu8a2 {
    @include container($background: "primary");
    margin-bottom: 5px;
  }

  .progressBar-1oVG_J {
    background: linear-gradient(90deg, var(--amethyst-nitro-gradient-colours));
  }

  .divider-3HbLTj {
    display: none;
  }
}

// ---------------------------- User area ---------------------------- \\
.panels-j1Uci_ {
  @include container($gap: true, $background: "tertiary");

  display: flex;
  flex-direction: column;

  > div {
    @include container($radius: true, $background: "secondary-alt");
    border-bottom: none;

    &:last-child {
      @include container($margin: "bottom"); // Reminds me of Python :smiling_face_with_tear:
    }
  }

  > .wrapper-24pKcD { // VC container wrapper?
    &:empty {
      display: none;
    }
  }

  .container-1giJp5 { // Actual VC container
    border-bottom: none;
  }

  > .maximized-vv2Wr0 {
    .cover-SwJ-ck { // DevilBro Spotify controls album cover
      border-top: {
        left-radius: var(--amethyst-radius);
        right-radius: var(--amethyst-radius);
      }
    }
  }
}

// ---------------------------- Servers sidebar ---------------------------- \\
.guilds-1SWlCJ {
  @include container($margin: "left");

  > .tree-2wKJdG {
    outline: none;
  }

  .scroller-1Bvpku {
    @include container($radius: true, $background: "accent", $margin: "bottom");
    padding-top: calc(var(--amethyst-padding) * 1.75);
  }
}

// ---------------------------- Member list ---------------------------- \\
.membersWrap-2h-GB4 {
  @include container($background: "tertiary");
  height: -webkit-fill-available;

  &.emptyState-2KU9WW { // Fix empty thread section
    @include container($background: "secondary", $radius: true);
  }

  > .members-1998pB {
    @include container($radius: true);
  }
}

// ---------------------------- Search results ---------------------------- \\
.searchResultsWrap-3-pOjs {
  @include container($gap: true, $background: "tertiary");

  > .searchHeader-2XoQg7 {
    @include container($radius: true, $background: "secondary-alt");
  }

  > .scroller-3GIiMh {
    @include container($radius: true, $background: "secondary");
  }
}

// ---------------------------- Title bar container ---------------------------- \\
.container-1r6BKw {
  &.themed-ANHk51 {
    @include container($radius: true);

    > .toolbar-1t6TWx { // Toolbar
      @include container($background: "secondary-alt", $margin: ("left": 2.5));

      border-radius: calc(var(--amethyst-radius) * 0.8);
      box-shadow: 0 0 0 1px var(--background-tertiary);
      padding: calc(var(--amethyst-padding) * 1.25) calc(var(--amethyst-padding) * 0.625);
    }
  }
}

// ---------------------------- Thread panel ---------------------------- \\
.threadSidebar-1o3BTy {
  @include container(
    $gap: true,
    $radius: true,
    $background: "tertiary",
    $margin: "bottom"
  );

  margin-left: unset;

  > .container-2w6o5e { // Create thread container
    @include container($gap: true);

    > .chat-1cCjJ5 { // Create thread chat preview
      @include container($radius: true, $background: "primary");
    }
  }

  .chat-15Vmww {
    @include container($gap: true);

    > .chatHeaderBar-4vZS1x {
      @include container($radius: true);
    }
  }
}

// ---------------------------- Friends page container ---------------------------- \\
.container-1D34oG {
  @at-root .content-98HsJk > & {
    @include container(
      $gap: true,
      $background: "tertiary",
      $margin: "bottom" // This could also go on tabBody
    );
  }

  > .tabBody-3YRQ8W {
    @include container($gap: true);
  }

  .peopleColumn-29fq28 {
    @include container($radius: true);
  }

  .nowPlayingColumn-2sl4cE {
    @include container($background: "tertiary");

    > .container-lRFx4q {
      @include container($radius: true);
      
      > .scroller-2ZPeAD {
        border-left: none;
      }
    }
  }
}

// ---------------------------- Nitro page ---------------------------- \\
.applicationStore-1pNvnv { // TODO: find out why there's a huge gap on the right side
  @include container($background: "tertiary", $margin: "bottom");

  > .homeWrapperNormal-2KSUEa {
    @include container($gap: true, $background: "tertiary");

    > .scroller-9moviB {
      @include container($radius: true);
    }
  }
}

// ---------------------------- Settings ---------------------------- \\
.layer-3QrUeG {
  ~ .layer-3QrUeG { // Thanks DevilBro ig lol
    @include container($background: "tertiary");  
  }
}

.standardSidebarView-3F1I7i { // Settings container
  @include container(
    $gap: true,
    $background: "tertiary",
    $margin: ("bottom", "left", "right")
  );
}

.sidebarRegionScroller-3MXcoP, // Left panel
.contentRegionScroller-26nc1e, // Normal right panel
.customScroller-26gWhv {       // Weird audit log right panel
  @include container($radius: true);
}

.sidebarRegion-VFTUkN,
.contentRegion-3nDuYy {
  @include container($background: "tertiary");
}

.customScroller-26gWhv { // Weird audit log scroller
  @include container($background: "accent");
}

// ---------------------------- Powercord Spotify ---------------------------- \\
#app-mount {
  .powercord-spotify {
    @include container($background: "tertiary");

    // This is really fucking gross
    &:not(.hover) {
      .spotify-extra-controls {
        + .spotify-seek {
          @include container($margin: ("top": 1.75));
        }
      }
    }

    &.hover {
      .spotify-seek {
        &, &-bar {
          padding-top: calc(var(--amethyst-padding) * 1.25);
        }
      }
    }

    > .container-3baos1 {
      @include container($background: "secondary-alt");
      border-radius: inherit;
    }

    .spotify-extra-controls {
      @include container($background: "secondary-alt");
      border-bottom: {
        right-radius: var(--amethyst-radius);
        left-radius: var(--amethyst-radius);
      }
    }

    .spotify-seek {
      @include container(
        $radius: true,
        $background: "secondary-alt",
        $margin: ("top": 1.25)
      );

      // ----- Fiddly shit don't touch ----- \\
      &-bar {
        transform: translateY(-5.2px);
        margin-top: 2px;
        margin-left: 5.5px;
        margin-right: 5.5px;

        &-cursor {
          width: 6px;
          height: 6px;
          top: 70%;
        }
      }
      // ----- End fiddly shit ----- \\
    }
  }
}