// ---------------------------- "Body" container ---------------------------- \\
.container-2lgZY8 {
  @at-root {
    .platform-web & {
      margin-top: var(--amethyst-margin);
    }

    .platform-win & {
      margin-top: calc(var(--amethyst-margin) * 0.5); // Account for titlebar
    }
  }
}

// ---------------------------- Notices ---------------------------- \\
#app-mount { // Override #pluginNotice
  .notice-3bPHh- {
    margin: 0 var(--amethyst-margin) var(--amethyst-margin) var(--amethyst-margin); // Yes
    border-radius: var(--amethyst-radius);

    &.notice-2X5hT5 {
      background-color: var(--amethyst-brand);
    }

    // &.colorBrand-2zeG8h {}

    // &.colorDanger-4gmAY0 {
    //   background-color: var(--amethyst-red);  
    // }

    // &.colorDefault-22HBa0 {
    //   background-color: var(--amethyst-orange);
    // }

    // &.colorSuccess-1hnbW2 {
    //   background-color: var(--amethyst-cyan);
    // }
  }
}

// ---------------------------- Top bar ---------------------------- \\
.container-1r6BKw {
  &.themed-ANHk51 {
    border-radius: var(--amethyst-radius);
    margin-bottom: calc(var(--amethyst-margin) * 0.75);

    > .toolbar-1t6TWx {
      background-color: var(--background-secondary-alt);
      padding: calc(var(--amethyst-padding) * 1.25) calc(var(--amethyst-padding) * 0.625);
      border-radius: calc(var(--amethyst-radius) * 0.8);
      margin-left: calc(var(--amethyst-margin) * 2.5);
      box-shadow: 0 0 0 1px var(--background-tertiary);
    }
  }
}

// ---------------------------- Scrollers ---------------------------- \\
.thin-1ybCId {
  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      background-color: var(--background-modifier-hover);
    }
  }
}

.auto-Ge5KZx {
  &::-webkit-scrollbar {
    width: 14px;

    &-track {
      background-color: transparent;
    }

    &-thumb {
      min-height: 47.5px;
      background-color: var(--background-modifier-active);
    }
  }
}

// ---------------------------- Settings ---------------------------- \\
.sidebarRegionScroller-3MXcoP { // Left panel
  border-top-right-radius: var(--amethyst-radius);
}

.contentRegionScroller-26nc1e { // Right panel
  margin-left: var(--amethyst-margin);
  border-top-left-radius: var(--amethyst-radius);
}

.sidebarRegion-VFTUkN, // Left
.contentRegion-3nDuYy { // Right
  background-color: var(--background-tertiary);
}

.customScroller-26gWhv { // Fix for audit logs
  margin-left: var(--amethyst-margin);
  border-top-left-radius: var(--amethyst-radius);
  background-color: var(--background-accent);
}

// ---------------------------- User area ---------------------------- \\
.panels-j1Uci_ {
  background-color: var(--background-tertiary);

  > div {
    margin-bottom: var(--amethyst-margin);
    border-radius: var(--amethyst-radius);
    background-color: var(--background-secondary-alt);

    &:first-child {
      margin-top: var(--amethyst-margin);
    }
  }

  .container-1giJp5,
  > .listeningAlong-30wH70,
  > .activityPanel-28dQGo { // VC box -> currently playing game
    border-bottom: none;
  }
}

// ---------------------------- Powercord Spotify ---------------------------- \\
#app-mount {
  .powercord-spotify {
    background-color: var(--background-tertiary);

    // This is really fucking gross
    &:not(.hover) {
      .spotify-extra-controls {
        + .spotify-seek {
          margin-top: calc(var(--amethyst-margin) * 1.75);
        }
      }
    }

    &.hover {
      .spotify-seek {
        &, &-bar {
          padding-top: calc(var(--amethyst-padding) * 1.25);
        }
      }
    }

    > .container-3baos1 {
      border-radius: inherit;
      background-color: var(--background-secondary-alt);
    }

    .spotify-extra-controls {
      border-bottom-right-radius: var(--amethyst-radius);
      border-bottom-left-radius: var(--amethyst-radius);
      background-color: var(--background-secondary-alt);
    }

    .spotify-seek {
      border-radius: var(--amethyst-radius);
      margin-top: calc(var(--amethyst-margin) * 1.25);
      background-color: var(--background-secondary-alt);

      // ----- Fiddly shit don't touch ----- \\
      &-bar {
        transform: translateY(-5.2px);
        margin-top: 2px;
        margin-left: 5.5px;
        margin-right: 5.5px;

        &-cursor {
          width: 6px;
          height: 6px;
          top: 70%;
        }
      }
      // ----- End fiddly shit ----- \\
    }
  }
}

// ---------------------------- Sidebars ---------------------------- \\
.sidebar-2K8pFh { // Channels
  margin-left: var(--amethyst-margin);
  background-color: var(--background-tertiary);

  @at-root #app-mount & { // Avoid !important
    border-radius: var(--amethyst-radius);
  }

  > .scrollerBase-289Jih, // Server discovery
  > .container-3w7J-x, // Guild channels
  > .privateChannels-1nO12o { // Private channels
    border-radius: var(--amethyst-radius);
    background-color: var(--background-secondary);
  }

  .header-2V-4Sw { // Guild header
    border-top-right-radius: var(--amethyst-radius);

    + .animatedContainer-1NSq4T { // Fix banner having squared corner
      border-top-right-radius: var(--amethyst-radius);
    }
  }

  .container-3fNISf { // Boost progress bar
    background: var(--background-secondary-alt);
    padding: calc(var(--amethyst-padding) * 2.5);
    margin-top: calc(var(--amethyst-margin) * -0.35);
    margin-right: calc(var(--amethyst-margin) * 0.5);
    margin-bottom: calc(var(--amethyst-margin) * 2.5);
    border-radius: var(--amethyst-radius);
  
    > .progressBarContainer-DLPbha {
      background: var(--background-primary);
      margin-bottom: calc(var(--amethyst-margin) * 0.75);
    }

    .progressBar-UDQ4AC {
      background: linear-gradient(90deg, var(--amethyst-nitro-gradient-colours));
    }

    .divider-3C88Um {
      display: none;
    }
  }
}

// ---------------------------- Member list ---------------------------- \\
.membersWrap-2h-GB4 {
  background-color: var(--background-tertiary);

  >.members-1998pB {
    border-radius: var(--amethyst-radius);
    margin-left: var(--amethyst-margin);
  }
}

// ---------------------------- Right side containers ---------------------------- \\
.container-1D34oG, // Home page
.container-1a3EgQ, // Stage discovery
.applicationStore-1pNvnv, // Nitro page
.pageWrapper-1PgVDX, // Server discovery
.noChannel-3LgMRp { // No channels
  margin-left: var(--amethyst-margin);
  margin-bottom: var(--amethyst-margin);
  border-radius: var(--amethyst-radius) 0 0 var(--amethyst-radius);
  background-color: var(--background-accent); // Check this tho LOL
}

// ---------------------------- Server list ---------------------------- \\
.guilds-1SWlCJ {
  margin-left: var(--amethyst-margin);

  > .tree-2wKJdG {
    outline: none; // Fix yellow line appearing
  }

  .scroller-1Bvpku {
    margin-bottom: var(--amethyst-margin);
    border-radius: var(--amethyst-radius);
    padding-top: calc(var(--amethyst-padding) * 1.75);
    background-color: var(--background-accent);
  }
}

// ---------------------------- Friends page ---------------------------- \\
.container-1D34oG {
  @at-root #app-mount & {
    margin-right: var(--amethyst-margin);
    background-color: var(--background-tertiary);
  }

  .peopleColumn-29fq28 {
    border-radius: var(--amethyst-radius);
  }

  .nowPlayingColumn-2sl4cE {
    margin-left: var(--amethyst-margin);
    background-color: var(--background-tertiary);

    > .container-lRFx4q {
      border-radius: var(--amethyst-radius);
    }

    .scroller-2ZPeAD {
      border-left: none;
      border-radius: var(--amethyst-radius);
    }
  }
}

// ---------------------------- Chat ---------------------------- \\
.chat-3bRxxu { // Normal chat
  background-color: var(--background-tertiary);
  margin-bottom: var(--amethyst-margin);
  margin-left: var(--amethyst-margin);
  margin-right: calc(var(--amethyst-margin) * 1.25);
  border-top-left-radius: var(--amethyst-radius);
  border-bottom-left-radius: var(--amethyst-radius);

  &.threadSidebarOpen-vdkwIh { // With thread split view
    margin-right: calc(var(--amethyst-margin) * 1.5);
  }

  .chatContent-a9vAAp { // Normal chat container
    border-radius: var(--amethyst-radius);
    background-color: var(--background-accent);
  }

  > .content-yTz4x3 { // NSFW warning page
    > .scrollerBase-289Jih {
      border-radius: var(--amethyst-radius);
      background-color: var(--background-accent);
    }
  }
}

// ---------------------------- Archived thread ---------------------------- \\
.chatHeaderBar-4vZS1x { // Header
  border-radius: var(--amethyst-radius) var(--amethyst-radius) 0 0;
}

// ---------------------------- Thread split view ---------------------------- \\
.threadSidebar-1o3BTy {
  margin-left: calc(var(--amethyst-margin) * -0.25);
  margin-bottom: var(--amethyst-margin);
  margin-right: calc(var(--amethyst-margin) * 1.25);
  background-color: var(--background-tertiary);

  .chatContent-a9vAAp {
    background-color: var(--background-accent);
    border-bottom-right-radius: var(--amethyst-radius);

    &:first-child { // When it has not been archived and does not have the header
      border-radius: var(--amethyst-radius);
    }
  }

  .chat-1cCjJ5 { // Creating a thread
    border-radius: var(--amethyst-radius);
    background-color: var(--background-accent);
  }
}