@use "sass:meta";

// ------------------------------- WARNING ------------------------------- \\
// ------------- Proceed with caution, as eye bleach follows ------------- \\
// --------------- As so uttered by Him in All Seriousness --------------- \\
// ----------------------------------------------------------------------- \\

@mixin container($background: null, $gap: null, $radius: null, $margin: null) {
  @if $gap {
    gap: var(--amethyst-margin);
  }

  @if $radius {
    border-radius: var(--amethyst-radius);
  }

  @if $background {
    background-color: var(--background-#{$background});
  }

  @if $margin { // Oh boy lmao
    @if meta.type-of($margin) == string {
      margin-#{$margin}: var(--amethyst-margin);
    }

    @else if meta.type-of($margin) == list {
      margin: {
        @each $side in $margin {
          #{$side}: var(--amethyst-margin);
        }
      }
    }

    @else if meta.type-of($margin) == map {
      margin: {
        @each $side, $multiplier in $margin {
          #{$side}: calc(var(--amethyst-margin) * #{$multiplier});
        }
      }
    }

    @else {
      margin: var(--amethyst-margin);
    }
  }
}

// ---------------------------- Bruh ---------------------------- \\
.erd_scroll_detection_container {
  display: none !important;
}

// ---------------------------- "Body" container ---------------------------- \\
.container-2lgZY8 {
  @at-root {
    .platform-web & {
      @include container($margin: "top");
    }

    .platform-win & {
      @include container($margin: ("top": 0.5)); // Account for titlebar
    }
  }
}

// ---------------------------- Scrollers ---------------------------- \\
.thin-31rlnD {
  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      background-color: var(--background-modifier-hover);
    }
  }
}

.auto-2K3UW5 {
  &::-webkit-scrollbar {
    width: 14px;

    &-track {
      background-color: transparent;
    }

    &-thumb {
      min-height: 47.5px;
      background-color: var(--background-modifier-active);
    }
  }
}

// ---------------------------- Notices ---------------------------- \\
.notice-2HEN-u {
  @include container($radius: true);

  &:is(.colorInfo-1kEg3T, .notice-3uyY6c) {
    background: var(--brand-experiment);
  }

  &.colorSuccess-1hnbW2 {
    background: var(--amethyst-green);
  }

  &.noticeWrapper-8z511t { // BD (BDFDB)
    @include container($margin: ("right", "left", "bottom"));
    border-radius: var(--amethyst-radius) !important; // Plugin moment
  }

      // &.colorBrand-2zeG8h {}

      // &.colorDanger-4gmAY0 {
      //   background-color: var(--amethyst-red);  
      // }

      // &.colorDefault-22HBa0 {
      //   background-color: var(--amethyst-orange);
      // }
}

// ---------------------------- Main ---------------------------- \\
.container-1eFtFS { // Server sidebar + channels/chat (friends page) container
  @include container($gap: true, $background: "tertiary", $margin: "bottom");

  > .base-2jDfDU { // Basically channels/chat container but with notice at the top e.g. server preview
    @include container($gap: true, $margin: "right");
  }
}

// ---------------------------- Channels/chat container ---------------------------- \\
.content-1SgpWY {
  @include container($gap: true);

  > .resizeHandle-PBRzPC { // Resizer bar on thread split view
    @include container($background: "primary", $radius: true);
    height: unset;
  }

  > .chat-2ZfjoI { // Title bar/member sidebar/chat container
    @include container($gap: true, $background: "tertiary");

    > .wrapper-1gVUIN { // Call container background
      @include container($background: "tertiary");
    }

    .callContainer-HtHELf {
      @include container($radius: true);
    }
  }

  .content-1jQy2l { // Member sidebar/chat container
    @include container($gap: true);

    > .scrollerBase-_bVAAt { // NSFW or "You're not old enough..."
      @include container($radius: true, $background: "accent");
    }
  }

  > .noChannel-1GDIAZ { // "You find yourself in a strange place..."
    @include container($background: "accent", $radius: true);
  }
}

.chatContent-3KubbW { // Chat background
  @include container($background: "primary", $radius: true);
}

// ---------------------------- Channels sidebar ---------------------------- \\
.sidebar-1tnWFu {
  @include container($gap: true, $background: "tertiary");

  > :is(.container-1NXEtd, .privateChannels-oVe7HL, .scrollerBase-_bVAAt) { // 1, 2: Channel lists, 3: Server Discovery
    @include container($radius: true);
  }

  > .container-1NXEtd { // Server channel list
    overflow: hidden; // Hide sharp corners of channel header (SMART MOMENT ?!1!)
  }

  > .scrollerBase-_bVAAt { // Server Discovery
    @include container($background: "secondary");
  }

  .animatedContainer-2laTjx { // Server banner
    border-top-right-radius: var(--amethyst-radius);
  }
}

// ---------------------------- Boost progress bar ---------------------------- \\
.container-1eD8xH {
  @include container(
    $background: "secondary-alt",
    $margin: (
      "top": -0.5,
      "right": 0.35
    ),
    $radius: true
  );

  margin-bottom: var(--amethyst-margin); // TODO: design stupid mixin better
  padding: calc(var(--amethyst-padding) * 2.5);
  
  > .progressBarContainer-2E4oR- {
    @include container($background: "primary");
    margin-bottom: 5px;
  }

  .progressBar-1Tzim4 {
    background: linear-gradient(90deg, var(--amethyst-nitro-gradient-colours));
  }

  .divider-1Y1mB0 {
    display: none;
  }
}

// ---------------------------- User area ---------------------------- \\
.panels-3wFtMD {
  @include container($gap: true, $background: "tertiary");

  display: flex;
  flex-direction: column;

  > div {
    @include container($radius: true, $background: "secondary-alt");
    border-bottom: none;
  }

  > .wrapper-3Hk9OB { // VC container wrapper?
    &:empty {
      display: none;
    }
  }

  .container-1zzFcN { // Actual VC container
    border-bottom: none;
  }
}

.maximized-vv2Wr0 { // Fixing DevilBro Spotify controls album cover
  .cover-SwJ-ck {
    border-top: {
      left-radius: var(--amethyst-radius);
      right-radius: var(--amethyst-radius);
    }
  }
}

// ---------------------------- Servers sidebar ---------------------------- \\
.guilds-2JjMmN {
  @include container($margin: "left");

  > .tree-3agP2X {
    outline: none;
  }

  .scroller-3X7KbA {
    @include container($radius: true, $background: "accent");
    padding-top: calc(var(--amethyst-padding) * 1.75);
  }
}

// ---------------------------- Member list ---------------------------- \\
.membersWrap-3NUR2t {
  @include container($background: "tertiary");
  height: -webkit-fill-available;

  &.emptyState-2DwxJe { // Fix empty thread section
    @include container($background: "secondary", $radius: true);
  }

  > .members-3WRCEx {
    @include container($radius: true);
  }
}

// ---------------------------- Search results ---------------------------- \\
.searchResultsWrap-5RVOkx {
  @include container($gap: true, $background: "tertiary");

  > .searchHeader-1r_ZSh {
    @include container($radius: true, $background: "secondary-alt");
  }

  > .scroller-3iiyhZ {
    @include container($radius: true, $background: "secondary");
  }
}

// ---------------------------- Title bar container ---------------------------- \\
.container-ZMc96U {
  &.themed-Hp1KC_ {
    @include container($radius: true);

    > .toolbar-3_r2xA { // Toolbar
      @include container($background: "secondary-alt", $margin: ("left": 2.5));

      border-radius: calc(var(--amethyst-radius) * 0.8);
      box-shadow: 0 0 0 1px var(--background-tertiary);
      padding: calc(var(--amethyst-padding) * 1.25) calc(var(--amethyst-padding) * 0.625);
    }
  }
}

// ---------------------------- Thread panel ---------------------------- \\
.container-3XgAHv {
  @include container(
    $gap: true,
    $radius: true,
    $background: "tertiary"
  );

  margin-left: unset;

  > .container-1RZJZM { // Create thread container
    @include container($gap: true);

    > .chat-1rZYgu { // Create thread chat preview
      @include container($radius: true, $background: "primary");
    }
  }

  // .chat-3JZdy8 {
  //   @include container($gap: true);

  //   > .chatHeaderBar-4vZS1x {
  //     @include container($radius: true);
  //   }
  // }
}

// ---------------------------- Friends page container ---------------------------- \\
.container-2cd8Mz {
  @at-root .content-1SgpWY > & {
    @include container($gap: true, $background: "tertiary");
  }

  > .tabBody-2dgbAs {
    @include container($gap: true);
  }

  .peopleColumn-1wMU14 {
    @include container($radius: true, $background: "primary");
  }

  .nowPlayingColumn-1eCBCN {
    @include container($background: "tertiary");

    > .container-1oAagU {
      @include container($radius: true);
      
      > .scroller-hE2gWq {
        border-left: none;
      }
    }
  }
}

// ---------------------------- Nitro page ---------------------------- \\
.applicationStore-2nk7Lo {
  @include container($background: "tertiary");

  > .homeWrapperNormal-bu1BS6 {
    @include container($gap: true, $background: "tertiary");

    > .scroller-29cQFV {
      @include container($radius: true);
    }
  }
}

// ---------------------------- Discovery page ---------------------------- \\
#app-mount {
  .pageWrapper-2PwDoS {
    // background-color: var(--background-accent);
    @include container($radius: true, $background: "accent");
  }
}

// ---------------------------- Settings ---------------------------- \\
.layer-86YKbF {
  ~ .layer-86YKbF { // Thanks DevilBro ig lol
    @include container($background: "tertiary", $margin: "bottom");  
  }
}

.standardSidebarView-E9Pc3j { // Settings container
  @include container(
    $gap: true,
    $background: "tertiary",
    $margin: ("left", "right")
  );
}

.sidebarRegionScroller-FXiQOh, // Left panel
.contentRegionScroller-2_GT_N, // Normal right panel
.customScroller-m1-jZn {       // Weird audit log right panel
  @include container($radius: true);
}

.sidebarRegion-1VBisG,
.contentRegion-3HkfJJ {
  @include container($background: "tertiary");
}

.customScroller-m1-jZn { // Weird audit log scroller
  @include container($background: "accent");
}

// ---------------------------- Powercord Spotify ---------------------------- \\
#app-mount {
  .powercord-spotify {
    @include container($background: "tertiary");

    // This is really fucking gross
    &:not(.hover) {
      .spotify-extra-controls {
        + .spotify-seek {
          @include container($margin: ("top": 1.75));
        }
      }
    }

    &.hover {
      .spotify-seek {
        &, &-bar {
          padding-top: calc(var(--amethyst-padding) * 1.25);
        }
      }
    }

    > .container-YkUktl {
      @include container($background: "secondary-alt");
      border-radius: inherit;
    }

    .spotify-extra-controls {
      @include container($background: "secondary-alt");
      border-bottom: {
        right-radius: var(--amethyst-radius);
        left-radius: var(--amethyst-radius);
      }
    }

    .spotify-seek {
      @include container(
        $radius: true,
        $background: "secondary-alt",
        $margin: ("top": 1.25)
      );

      // ----- Fiddly shit don't touch ----- \\
      &-bar {
        transform: translateY(-5.2px);
        margin-top: 2px;
        margin-left: 5.5px;
        margin-right: 5.5px;

        &-cursor {
          width: 6px;
          height: 6px;
          top: 70%;
        }
      }
      // ----- End fiddly shit ----- \\
    }
  }
}