$-container-margin: 4px;
$-container-radius: 10px;

// ---------------------------- Notices ---------------------------- \\
#app-mount { // Override #pluginNotice
  .notice-3bPHh- {
    margin: 0 $-container-margin $-container-margin $-container-margin; // Yes
    border-radius: $-container-radius;

    &.notice-2X5hT5 {
      background-color: var(--amethyst-brand);
    }

    // &.colorBrand-2zeG8h {}

    // &.colorDanger-4gmAY0 {
    //   background-color: var(--amethyst-red);  
    // }

    // &.colorDefault-22HBa0 {
    //   background-color: var(--amethyst-orange);
    // }

    // &.colorSuccess-1hnbW2 {
    //   background-color: var(--amethyst-cyan);
    // }
  }
}

// ---------------------------- Top bar ---------------------------- \\
.container-1r6BKw {
  &.themed-ANHk51 {
    border-radius: $-container-radius;
    margin-bottom: $-container-margin - 1px;

    > .toolbar-1t6TWx {
      background-color: var(--background-secondary-alt);
      padding: $-container-margin + 1px $-container-margin - 1.5px;
      border-radius: $-container-radius - 2px;
      margin-left: $-container-margin * 2 + 2px;
      box-shadow: 0 0 0 1px var(--background-tertiary);    
    }
  }
}

// ---------------------------- Scrollers ---------------------------- \\
.thin-1ybCId {
  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      background-color: var(--background-modifier-hover);
    }
  }
}

.auto-Ge5KZx {
  &::-webkit-scrollbar {
    width: 14px;

    &-track {
      background-color: transparent;
    }

    &-thumb {
      min-height: 47.5px;
      background-color: var(--background-modifier-active);
    }
  }
}

// ---------------------------- Settings ---------------------------- \\
.sidebarRegionScroller-3MXcoP { // Left panel
  border-top-right-radius: $-container-radius;
}

.contentRegionScroller-26nc1e { // Right panel
  margin-left: $-container-margin;
  border-top-left-radius: $-container-radius;
}

.sidebarRegion-VFTUkN, // Left
.contentRegion-3nDuYy { // Right
  background-color: var(--background-tertiary);
}

.customScroller-26gWhv { // Fix for audit logs
  margin-left: $-container-margin;
  border-top-left-radius: $-container-radius;
  background-color: var(--background-accent);
}

// ---------------------------- User area ---------------------------- \\
.panels-j1Uci_ {
  background-color: var(--background-tertiary);

  > div {
    margin-bottom: $-container-margin;
    border-radius: $-container-radius;
    background-color: var(--background-secondary-alt);

    &:first-child {
      margin-top: $-container-margin;
    }
  }

  .container-1giJp5,
  > .listeningAlong-30wH70,
  > .activityPanel-28dQGo { // VC box -> currently playing game
    border-bottom: none;
  }
}

// ---------------------------- Powercord Spotify ---------------------------- \\
#app-mount {
  .powercord-spotify {
    background-color: var(--background-tertiary);

    // This is really fucking gross
    &:not(.hover) {
      .spotify-extra-controls {
        + .spotify-seek {
          margin-top: $-container-margin + 10px;
        }
      }
    }

    &.hover {
      .spotify-seek {
        &, &-bar {
          padding-top: $-container-margin + 1px;
        }
      }
    }

    > .container-3baos1 {
      border-radius: inherit;
      background-color: var(--background-secondary-alt);
    }

    .spotify-extra-controls {
      border-bottom-right-radius: $-container-radius;
      border-bottom-left-radius: $-container-radius;
      background-color: var(--background-secondary-alt);
    }

    .spotify-seek {
      border-radius: $-container-radius;
      margin-top: $-container-margin + 1px;
      background-color: var(--background-secondary-alt);

      &-bar {
        transform: translateY(-5.2px);
        margin-top: $-container-margin / 2;
        margin-left: $-container-margin + 1.5px;
        margin-right: $-container-margin + 1.5px;

        &-cursor {
          width: 6px;
          height: 6px;
          top: 70%;
        }
      }
    }
  }
}

// ---------------------------- Sidebars ---------------------------- \\
.sidebar-2K8pFh { // Channels
  margin-left: $-container-margin;
  background-color: var(--background-tertiary);

  > .scrollerBase-289Jih, // Server discovery
  > .container-3w7J-x, // Guild channels
  > .privateChannels-1nO12o { // Private channels
    border-radius: $-container-radius;
    background-color: var(--background-secondary);
  }

  .header-2V-4Sw { // Guild header
    border-top-right-radius: $-container-radius;

    + .animatedContainer-1NSq4T { // Fix banner having squared corner
      border-top-right-radius: $-container-radius;
    }
  }

  .container-3fNISf { // Boost progress bar
    background: var(--background-secondary-alt);
    padding: $-container-margin * 2 + $-container-margin / 2;
    margin-top: $-container-margin * -1 - 1px;
    margin-right: $-container-margin / 2;
    margin-bottom: $-container-margin * 2 + $-container-margin / 2;
    border-radius: $-container-radius;
  
    > .progressBarContainer-DLPbha {
      background: var(--background-primary);
      margin-bottom: $-container-margin - 1px;
    }

    .divider-3C88Um {
      display: none;
    }
  }
}

// ---------------------------- Member list ---------------------------- \\
.members-1998pB {
  border-radius: $-container-radius;
  margin-left: $-container-margin;
}

// ---------------------------- Right side containers ---------------------------- \\
.container-1D34oG, // Home page
.container-1a3EgQ, // Stage discovery
.applicationStore-1pNvnv, // Nitro page
.pageWrapper-1PgVDX, // Server discovery
.noChannel-3LgMRp { // No channels
  margin-left: $-container-margin;
  margin-bottom: $-container-margin;
  border-radius: $-container-radius 0 0 $-container-radius;
  background-color: var(--background-accent); // Check this
}

// ---------------------------- Server list ---------------------------- \\
.guilds-1SWlCJ {
  margin-left: $-container-margin;

  > .tree-2wKJdG {
    outline: none; // Fix yellow line appearing
  }

  .scroller-1Bvpku {
    margin-bottom: $-container-margin;
    border-radius: $-container-radius;
    padding-top: $-container-margin + 3px;
    background-color: var(--background-accent);
  }
}

// ---------------------------- Friends page ---------------------------- \\
.container-1D34oG {
  @at-root #app-mount & {
    margin-right: $-container-margin;
    background-color: var(--background-tertiary);
  }

  .peopleColumn-29fq28 {
    border-radius: $-container-radius;
  }

  .nowPlayingColumn-2sl4cE {
    margin-left: $-container-margin + 1px;
    background-color: var(--background-tertiary);

    > .container-lRFx4q {
      border-radius: $-container-radius;
    }

    .scroller-2ZPeAD {
      border-left: none;
      border-radius: $-container-radius;
    }
  }
}

// ---------------------------- Chat ---------------------------- \\
.chat-3bRxxu { // Normal chat
  background-color: var(--background-tertiary);
  margin-bottom: $-container-margin;
  margin-left: $-container-margin + 1px;
  margin-right: $-container-margin + 1px;
  border-top-left-radius: $-container-radius;
  border-bottom-left-radius: $-container-radius;

  &.threadSidebarOpen-vdkwIh { // With thread split view
    margin-right: $-container-margin + 2px;
  }

  .chatContent-a9vAAp { // Normal chat container
    border-radius: $-container-radius;
    background-color: var(--background-accent);
  }

  > .content-yTz4x3 { // NSFW warning page
    > .scrollerBase-289Jih {
      border-radius: $-container-radius;
      background-color: var(--background-accent);
    }
  }
}

// ---------------------------- Archived thread ---------------------------- \\
.chatHeaderBar-4vZS1x { // Header
  border-radius: $-container-radius $-container-radius 0 0;
}

// ---------------------------- Thread split view ---------------------------- \\
.threadSidebar-1o3BTy {
  margin-left: -1px;
  margin-bottom: $-container-margin;
  margin-right: $-container-margin + 1px;
  background-color: var(--background-tertiary);

  .chatContent-a9vAAp {
    background-color: var(--background-accent);
    border-bottom-right-radius: $-container-radius;

    &:first-child { // When it has not been archived and does not have the header
      border-radius: $-container-radius;
    }
  }

  .chat-1cCjJ5 { // Creating a thread
    border-radius: $-container-radius;
    background-color: var(--background-accent);
  }
}