@mixin filled-button($color, $betterdiscord: false) {
  background-color: var(--amethyst-#{$color});

  &:hover {
    background-color: var(--amethyst-#{$color}-hover);
  }

  &:active {
    background-color: var(--amethyst-#{$color}-active);
  }

  @if $betterdiscord {
    @at-root #app-mount &.selected {
      background-color: var(--amethyst-#{$color}-active);
    }
  }
}

// ---------------------------- Checkbox ---------------------------- \\
.checked-3_4uQ9 {
  --control-brand-foreground: var(--amethyst-primary) !important;
}

// ---------------------------- Popout buttons ---------------------------- \\
#app-mount {
  .colorDefault-2K3EoJ {
    &:is(:active, .focused-3afm-j) {
      color: white;
      background-color: var(--amethyst-brand-hover);
    }

    &.colorDanger-2qLCe1 { // This is totally not cheating.. lol
      --amethyst-brand-hover: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
    }
  }
}

// ---------------------------- Filled buttons ---------------------------- \\
.bd-button { // BetterDiscord
  @include filled-button("brand", $betterdiscord: true); // LOL moment
}

#app-mount {
  .lookFilled-1Gx00P { // Regular
    &:is(.colorBrand-3pXr91, .colorBrandNew-g5lmBU) {
      @include filled-button("brand");
    }

    &:is(.colorGrey-2DXtkV, .colorPrimary-3b3xI6) {
      @include filled-button("primary");
    }
  }
}

// ---------------------------- Sliders ---------------------------- \\
.slider-1PF9SW {
  > .bar-2Qqk5Z {
    background-color: var(--amethyst-primary-active);
  }

  .grabber-3mFHz2 {
    border-color: var(--interactive-normal);
    background-color: var(--interactive-normal);
  }
}