@mixin call-button($normal, $hover-or-active) {
  --call-button-normal: #{$normal};
  --call-button-hover-active: #{$hover-or-active};
}

// ---------------------------- Voice calls ---------------------------- \\
.callContainer-HtHELf {
  @at-root #app-mount & {
    background-color: var(--background-secondary-alt);

    .status-1ZXjSF { // Muted badge on avatar
      background-color: var(--amethyst-red);
    }
  }

  .participantsButton-1WBdFP { // Show/hide participants
    background-color: var(--background-secondary-alt) !important;
  }

  .background-L8lGH6 { // Participant card
    background-color: var(--background-tertiary) !important;
  }

  .tile-2TcwiO { // No one else is here yet...
    background-color: var(--background-primary);
  }

  .streamPreview-3Fo29Y {
    background: var(--background-tertiary);
  }
}

.videoControls-353CsJ { // Did this so it works for stage containers too
  .colorable-3rVGna { // Call buttons
    background-color: var(--call-button-normal);

    &:is(:hover, .active-3D763s) {
      background-color: var(--call-button-hover-active);
    }

    &.primaryDark-2UJt1G { // Camera and Share Your screen
      @include call-button(var(--background-accent), var(--background-secondary));
    }

    &.white-11auuQ { // Mute/unmute
      @include call-button(var(--amethyst-brand), var(--amethyst-brand-hover));

      path {
        color: white;
      }
    }

    &.red-3T8maV { // Disconnect
      @include call-button(var(--amethyst-red), red);
    }
  }
}

// ---------------------------- Streaming ---------------------------- \\
#app-mount {
  .streamPreview-3qoMP4 { // Popout from hovering streamer's VC username
    background-color: var(--background-tertiary);

    > .previewContainer-21fFBz { // Top part where preview is embedded
      background-color: inherit;
    }
  }
}

.liveQualityIndicator-8fb_DX {
  background-color: var(--background-secondary) !important;
}