// ---------------------------- Text area ---------------------------- \\
.toolbar-37BrJ5 { // Markdown tooltip
  box-shadow: 0 0 2px 1px var(--background-tertiary);
  background-color: var(--background-floating);

  &::before {
    border-top-color: var(--background-floating);
  }
}

// ---------------------------- Channels sidebar ---------------------------- \\
.spine-29OFwR { // Thread marker
  color: var(--channeltextarea-background);
}

// ---------------------------- Messages ---------------------------- \\
.hasThread-3h-KJV {
  .spine-2vt3pM {
    --background-accent: var(--amethyst-brand);
  }
}

.mentioned-Tre-dv {
  &::before {
    background-color: var(--amethyst-brand);
    box-shadow: 0 0 3.5px var(--amethyst-brand);
  }
}

.replying-eZ7p5z, // Message you're replying to
.ephemeral-2nDdnn { // Clyde
  background-color: rgba(var(--amethyst-cyan-rgb), 0.075);

  &::before {
    background-color: rgba(var(--amethyst-cyan-rgb), 0.35);
    box-shadow: 0 0 1.5px var(--amethyst-cyan);
  }
} 

.repliedMessage-3Z6XBG { // Reply preview above message
  &::before {
    border-color: var(--amethyst-brand);
  }

  > .replyBadge-LMm_Ic {
    background-color: transparent;
  }

  .replyIcon-20gA8D {
    width: 20px;
    height: 10px;
    color: var(--interactive-active);
  }
}

// ---------------------------- Cards ---------------------------- \\
#app-mount {
  .tile-2mmK5T { // Nitro gift card
    background-color: var(--background-secondary-alt);

    .invalidPoop--w1123 { // Gift link expired background
      background-color: rgba(var(--amethyst-primary-rgb), 0.5);
    }
  }
}

.invite-3uuHYQ { // Spotify invite, game invite
  @at-root {
    #app-mount & {
      border-color: var(--background-tertiary);
      background-color: var(--background-secondary-alt);
    }

    .root-g14mjS & {
      box-shadow: 0 0 5px 1px var(--background-secondary-alt);
    }
  }
}

.wrapper-1HIH0j { // Guild invites
  .guildIconImage-74OdmM {
    background-color: var(--background-primary);
  }

  .resolvingBackground-1MSH01 {
    background-image: linear-gradient(90deg,
      var(--background-primary),
      var(--channeltextarea-background),
      var(--background-primary)
    );
  }
}

// ---------------------------- Chat bars ---------------------------- \\
.messagesErrorBar-1IQ1rH { // Messages Failed To Load
  background-color: rgba(var(--amethyst-red-rgb), 0.85) !important;
}

#---new-messages-bar { // New messages bar
  --divider-color: var(--amethyst-brand); // Or red?
  border-width: 3px;

  > .unreadPill-3nEWYM {
    transform: translateY(-1px);
  }
}

// ---------------------------- Spoilers ---------------------------- \\
#app-mount {
  .spoilerWarning-8ovW0v { // Attachments
    background-color: var(--background-tertiary);
  }

  .spoilerText-27bIiA { // Messages
    border-radius: 5px;

    &.hidden-3B-Rum {
      transition: background-color 0.25s;
      background-color: var(--background-secondary-alt);

      &:hover {
        background-color: var(--background-secondary);
      }
    }

    &[aria-expanded="true"] {
      background-color: rgba(var(--amethyst-primary-rgb), 0.1);
    }
  }
}